@model FilmsTestTask.Services.Models.CategoryMvcModel

@{
    ViewData["Title"] = "Категорії";
}

<h1>Редагувати</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="currentCategoryId" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Навзва</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ParentCategoryId" class="control-label">Походить від</label>
                <select asp-for="ParentCategoryId" id="ParentCategoryId" class="form-control parent-category-selector">
                    <option value="@Model.ParentCategoryId">Оберіть категорію</option>
                </select>
                <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
